body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://image.slidesharecdn.com/mee344-metrologylab-1-090702133411-phpapp01/95/mee344-metrology-lab-1-1-728.jpg?cb=1246542021");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
	text-align: center;
}